@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StateMaster.Models.AddStateViewModel

<style>
    fieldset {
        border: 2px solid black;
        margin-left: -2px;
        border-radius: 5px;
        padding-left: 20px;
        width: 100%;
        /* border-color: black; */
    }

    legend {
        border-color: #b65fc3e4;
        border-radius: 5px;
        padding: 2px 15px;
        border: 1px solid black;
        width: auto;
        margin-top: -2%;
        float: initial;
        color: #7C4BAF;
        font-size: 0.7rem;
        font-weight: 600;
    }
</style>

<div class="card">
    <div class="card-header bg-white">
        <div class="row text-center">
            <h1>Add State</h1>
        </div>
    </div>
    <div class="card-header">
        <div class="row align-items-end">
            <div class="col-md-2">
                <div class="marqueecontainer border-0">
                    <div style="background-color:#7C4BAF;" class="headertex border-0 btn btn-primary rounded-pill d-flex align-items-center justify-content-center mt-1 fw-semibold">
                        <h6 style="font-size:0.8rem;">राज्य मास्टर डेटा विवरन</h6>
                    </div>
                </div>

            </div>
            <div class="col-md-9"></div>
            <div class="col-md-1">
                <div class="marqueecontainer border-0">
                    <div style="background-color:#7C4BAF;" class="headertext border-0 btn btn-primary rounded-pill d-flex align-items-center justify-content-center mt-1 fw-semibold">
                        Back
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-body bg-white">
        <fieldset class="scheduler-border form-control">
            <legend style="font-size: 0.8rem;" class="scheduler-border form-check-control justify-content-between fw-semibold">
                Add New State / नया राज्य जोडे
            </legend>

            <form method="post">

                <div class="row mt-2">
                    <div class="col-md-4 mb-3">

                        <label style="font-size: 0.9rem;" class="form-label">Enter State Name <br /> (In English) <span style="color:red; font-weight:600;">*</span></label>
                        <input type="text" style="font-size: 0.75rem; border: 1px solid #7C4BAF;" class="form-control" placeholder="State Name In (English)" asp-for="StateNameEnglish" />
                    </div>
                    <div class="col-md-4 mb-3">

                        <label style="font-size: 0.9rem;" class="form-label">राज्य का नाम दर्ज करे <br /> (हिंदी में) <span style="color:red; font-weight:600;">*</span></label>
                        <input type="text" style="font-size:  0.75rem; border: 1px solid #7C4BAF;" class="form-control" placeholder="राज्य का नाम दर्ज करे" asp-for="StateNameHindi" />
                    </div>
                    <div class="col-md-4 mb-3">

                        <label style="font-size: 0.9rem;" class="form-label">Enter State Code / <br /> राज्य कोड दर्ज करे <span style="color:red; font-weight:600;">*</span></label>
                        <input type="text" style="font-size: 0.75rem; border: 1px solid #7C4BAF;" class="form-control" placeholder="Enter State Code" asp-for="StateNameCode" />
                    </div>

                    <div class="row-md-4 mb-3">

                        <div class="form-check ">
                            <label class="form-check-label" style="font-size: 0.9rem;" for="flexCheckChecked">
                                Status (Active/InActive) <br /> स्थिति (सक्रिय/निष्क्रिय) <span style="color:red; font-weight:600;">*</span>
                            </label>
                            <input style="font-size:  1rem;" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" asp-for="Status">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4  mb-3">
                            <button type="submit" class="btn btn-outline-success btn-border w-lg">Submit</button>
                            <a href="#" class="btn btn-outline-danger btn-border w-lg">Clear</a>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
    <div class="card-footer d-flex align-items-center bg-white">
        <h6 style="font-size:0.8rem;" class="text-danger">Note: All Asterisk (*) Marked Fields Are Mandatory / तारांकन (*) से चिह्नित सभी फ़ील्ड अनिवार्य हैं।</h6>
    </div>
</div>




